* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-page: #f9fafb;
    --bg-card: #ffffff;
    --bg-toolbar: #f1f5f9;

    --text-main: #1f2937;
    --text-muted: #6b7280;

    --border-color: #e5e7eb;
    --shadow: 0 4px 12px rgba(0, 0, 0, .06);

    --accent: #3b82f6;
    --accent-hover: #2563eb;
    --accent-light: #e7f0ff;

    --ok: #16a34a;
    --warn: #f59e0b;
    --danger: #ef4444;

    --radius: 12px;
    --space-1: .5rem;
    --space-2: .75rem;
    --space-3: 1rem;
    --space-4: 1.5rem;

    --card-min: 14rem;
    --card-max: 16rem;
}

html,
body {
    height: 100%;
}

body {
    background: var(--bg-page);
    color: var(--text-main);
    font-family: system-ui, Segoe UI, Roboto, Arial, sans-serif;
}

.flex-all {
    display: flex;
    min-height: 100vh;

}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

aside {
    background: var(--bg-toolbar);
    border-right: 2px solid var(--border-color);
    padding: 1rem;
    width: 240px;
    flex: 0 0 240px;
    color: var(--text-main);
    font-weight: 600;
}

aside strong {
    font-size: 1.2rem;
    display: block;
}

aside ul {
    list-style: none;
    margin-top: var(--space-3);
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

aside a {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    padding: .6rem var(--space-2);
    text-decoration: none;
    color: inherit;
    border-radius: var(--radius);
}

aside a:hover,
aside a.active {
    background: var(--accent-light);
    color: var(--accent-hover);
}

aside a img {
    height: 20px;
}

header {
    padding: var(--space-3) var(--space-4);
    border-bottom: 1px solid var(--border-color);
    background: var(--bg-toolbar);
}

.hud {
    display: flex;
    gap: 2rem;
    font-weight: 600;
}

main section {
    display: block;
    padding: var(--space-4)
}

main > section {
    display: none;
}